* {
  margin: 0px;
  padding: 0px; }

html {
  font-size: 62.5%; }

.cuerpoCv {
  margin: 5% 25% 5% 25%;
  width: 100rem;
  height: 90rem;
  border: 1px solid black; }

.flex-row {
  display: flex;
  flex-direction: row; }

.flex-column, footer, header, header nav {
  display: flex;
  flex-direction: column; }

#grilla {
  display: grid;
  grid-template-areas: "imgCv section footer" "nav section footer" "nav section footer" "nav section footer" "nav section footer" "nav section footer" "nav section footer";
  grid-template-columns: 22rem 73rem 5rem;
  grid-template-rows: 30rem 10rem 10rem 10rem 10rem 10rem 10rem; }

footer {
  grid-area: footer;
  background-color: aquamarine; }

header nav {
  grid-area: nav; }
  header nav div {
    width: 22rem;
    height: 10rem;
    background-color: red; }

header img {
  grid-area: imgCv; }

.imgHeader {
  width: 22rem;
  height: 30rem; }
