@import "base/reset";
@import "base/tipografias";
@import "utilities/keyframes";
@import "utilities/variables";
@import "layout/footer";
@import "layout/header";
@import "views/index";
@import "views/formacion-academica";
@import "views/exp-laboral";
@import "views/estudios-comple";
@import "views/skills";
