.cuerpoCv{
    margin: 5% 25% 5% 25%;
    width: 100rem;
    height: 90rem;
    border: 1px solid black;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

#grilla{
    display: grid;
    grid-template-areas:
    "imgCv section footer"
    "nav section footer"
    "nav section footer"
    "nav section footer"
    "nav section footer"
    "nav section footer"
    "nav section footer";
    grid-template-columns:22rem 73rem 5rem ;
    grid-template-rows:30rem 10rem 10rem 10rem 10rem 10rem 10rem;
} 

@mixin sizes($ancho,$alto) {
    width: $ancho;
    height: $alto;
}
